* {
	margin: 0; 
	padding: 0; 
}
body {
	font-family: Gill Sans MT
}
.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6em;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/1.jpg);
	height: 6em;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area {
	list-style: none;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.logo img {
	width: 100%;
	padding: 15px 0;
}


main {
    display: grid;
    grid-template-columns: 1fr 52rem 1fr;
	margin-top: 2em;
}
main img {
	grid-column: 2;
	width: 100%;
}
.main-content {
    grid-column: 2;
}

.main-content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
	border-bottom: 1px solid #3f83aa;
}

footer {
    background-color: gray;
    color: white;
    padding: 2em;
    margin-top: 4em;
}


