* {
	margin: 0; 
	padding: 0; 
}
body {
	font-family: Gill Sans MT
}
.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6em;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Images/1.jpg);
	height: 6em;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area {
	float: right;
	list-style: none;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.logo img {
	width: 100%;
	padding: 15px 0;
}


.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 52rem 1fr;
	margin-top: 2em;
}

.main-content {
    grid-column: 2;
	margin-bottom: 4em;
	line-height: 2em;
}

.main-content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
	border-bottom: 1px solid #3f83aa;
}

main button {
	float: right;
	margin-top: 3em;
	padding: 1em;
	background-color: blue;
	border-radius: 5px;
}

button a {
	color: white;
	text-decoration: none;
}


footer {
    background-color: gray;
    color: white;
    padding: 2em;
}

#map {
    height: 80vh;
    width: 100%;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-content {
    overflow: hidden;
}

.routeButton {
    background: green;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 0.2em;
	width: 100%;
}
TreePopUp {
	width: 100%;
	display: flex;
}
#filterContainer {
    position: absolute;
    bottom: 1em;  
    left: 1em;   
    z-index: 9999;
    background: white;
    padding: 1em;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: relative;
    z-index: 1000000; 
}


.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

@media (max-width: 768px) {


    .hamburger {
        display: flex;
    }

    .nav-area {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba(0,0,0,0.95);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease;

		z-index: 999999;
	}


    .nav-area.open {
        max-height: 100vh;
        padding: 1em 0;
    }

    .nav-area li {
        display: block;
        margin: 1em 0;
    }

    .nav-area li a {
        display: block;
        padding: 10px;
        font-size: 1.2em;
    }

	header, .wrapper, .hamburger {
		position: relative;
		z-index: 999999;
	}



}


