* {
	margin: 0; 
	padding: 0; 
}
body {
	font-family: Gill Sans MT
}
.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6em;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/1.jpg);
	height: 6em;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area {
	float: right;
	list-style: none;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.logo img {
	width: 100%;
	padding: 15px 0;
}


.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 52rem 1fr;
	margin-top: 2em;
}

.main-content {
    grid-column: 2;
	margin-bottom: 4em;
}

.main-content h2 {
    margin-top: 2em;
    margin-bottom: 1em;
	border-bottom: 1px solid #3f83aa;
}

button {
	float: right;
	margin: 1em;
	padding: 1em;
	background-color: blue;
	border-radius: 5px;
}

button a {
	color: white;
	text-decoration: none;
}


footer {
    background-color: gray;
    color: white;
    padding: 2em;
}

#map {
    height: 80vh;
    width: 100%;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-content {
    overflow: hidden;
}

.routeButton {
    background: green;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 0.2em;
	width: 100%
}

#filterContainer {
    position: absolute;
    bottom: 1em;  
    left: 1em;   
    z-index: 9999;
    background: white;
    padding: 1em;
    border-radius: 5px;
}

